LULO_API_KEY=your_lulo_api_key_here
MESSARI_API_KEY=your_messari_api_key_here
BDS_API_KEY=your_bds_api_key_here
NEXT_PUBLIC_BDS_API_KEY=your_next_public_bds_api_key_here
RPC_URL=your_rpc_url_here
NEXT_PUBLIC_RPC_URL=your_next_public_rpc_url_here
PINATA_JWT=your_pinata_jwt_here
PINATA_GATEWAY=your_pinata_gateway_here